<div class="home">
    <div class="inputcontainer">
        <label for="eT">Your decoded text</label>
        <br>
        <div class="inputarea">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button (click)="clickEncode()">Encode</button>
        <br>
    </div>
    <div class="inputcontainer">
        <label for="eT">Your encoded text</label>
        <br>
        <div class="inputarea">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button ng-click="clickEncode()">Decode</button>
    </div>
</div>